set ideastrictmode

let mapleader = " "
let maplocalleader = ","

set which-key
set notimeout
"set timeoutlen=5000

set scrolloff=5

" Do incremental searching.
set incsearch
set ignorecase smartcase

" Find more examples here: https://jb.gg/share-ideavimrc
set relativenumber
set number

" https://superuser.com/questions/622898/how-to-turn-off-the-bell-sound-in-intellij
" https://stackoverflow.com/questions/63386803/how-to-turn-off-a-bell-in-intellij-idea
set visualbell

Plug 'easymotion/vim-easymotion'
map s <Plug>(easymotion-s)
" map f <Plug>(easymotion-f)
" map F <Plug>(easymotion-F)
" map t <Plug>(easymotion-t)
" map T <Plug>(easymotion-T)

Plug 'tpope/vim-surround'

Plug 'machakann/vim-highlightedyank'

Plug 'preservim/nerdtree'


" Don't use Ex mode, use Q for formatting.
map Q gq

map <C-c> <Esc>


nnoremap Y y$
nnoremap n nzz
nnoremap N Nzz
vnoremap <leader>p "_dP


nnoremap <c-t> :action ActivateTerminalToolWindow<CR>

nnoremap <c-w>v :action SplitVertically<CR>
nnoremap <c-w>s :action SplitHorizontally<CR>
nnoremap <c-w>o :action Unsplit<CR>
nnoremap <c-w>m :action MoveEditorToOppositeTabGroup<CR>
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap H :action PreviousTab<CR>
nnoremap L :action NextTab<CR>
nnoremap <leader>q :action CloseContent<CR>
nnoremap <leader>qa :action CloseAllEditors<CR>


nnoremap gcc :action CommentByLineComment<CR>
vnoremap gcc :action CommentByLineComment<CR>
nnoremap gcb :action CommentByBlockComment<CR>
vnoremap gcb :action CommentByBlockComment<CR>
nnoremap ==  :action ReformatCode<CR>
vnoremap ==  :action ReformatCode<CR>
nnoremap <c-h> :action RecentLocations<CR>
nnoremap <leader>uu  :action LocalHistory.ShowHistory<CR>

nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fe :action SearchEverywhere<CR>
nnoremap <leader>ft :action FindInPath<CR>
nnoremap <leader>fs :action GotoSymbol<CR>
nnoremap <leader>fc :action GotoClass<CR>
nnoremap <leader>fo :action RecentFiles<CR>

nnoremap ga :action GotoAction<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gp :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gr :action FindUsages<CR>

nnoremap K :action ShowHoverInfo<CR>

" TODO: doesnt work
nnoremap <leader>sa :action QuickActionPopup<CR>
nnoremap <leader>sn :action RenameElement<CR>
nnoremap <leader>sr :action RefactoringMenu<CR>
nnoremap <leader>sg :action Generate<CR>
nnoremap <leader>si :action AnalyzeActionsPopup<CR>
nnoremap <leader>so :action FileStructurePopup<CR>

nnoremap <leader>tt :NERDTreeToggle<CR>
nnoremap <leader>tc :NERDTreeFocus<CR>

nnoremap ]c :action JumpToNextChange<CR>
nnoremap [c :action JumpToLastChange<CR>

nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>

nnoremap [[ :action EditorCodeBlockStart<CR>
vnoremap [[ :action EditorCodeBlockStart<CR>
nnoremap ]] :action EditorCodeBlockEnd<CR>
vnoremap ]] :action EditorCodeBlockEnd<CR>


