[Unit]
Description=Automated backup 

[Service]
Type=oneshot
WorkingDirectory=%h/dotfiles/restic
ExecStart=/bin/sh ./backup.sh
NoNewPrivileges=true
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
ProtectSystem=strict
PrivateTmp=true


