[Unit]
Description=Automated backups daily (persistent)

[Timer]
Calendar=daily
# make sure "forgotten" runs because of shutdown are executed on boot
Persistent=true

[Install]
WantedBy=timers.target
